# ESP32-MTSATLAN-B board configuration

# Copyright (c) 2022 Grant Ramsay <grant.ramsay@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32_MTSATLAN_B
	select SOC_ESP32_WROOM_32UE_N8
	select SOC_ESP32_PROCPU if BOARD_ESP32_MTSATLAN_B_ESP32_PROCPU
	select SOC_ESP32_APPCPU if BOARD_ESP32_MTSATLAN_B_ESP32_APPCPU
